body {
    font-size: 30px;
    font-family: Roboto;
    font-weight: 300;
    background: lightgray;
}

.slide.current {
    background: rgba(255, 255, 255, 0.95);
    margin: 12.5vh 12.5vw ;
    height: 75vh;
    width: 75vw;
    position: absolute;
    top: 0;
    left: 0;
}

.slide .content {
    width: 80%;
    margin: 10px auto;
}

.slide.hidden {
    display: none;
}

textarea {
    font-size: xx-large;
}

.cljs-run button {
    background: #428BCA;
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 100px;
    margin: 25px 0px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}

.CodeMirror {
    height: 200px;
}

img {
    width: 300px;
    display: block;
    margin: 0px auto;
}
